<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="w3-row w3-padding-64">
    <h1 class="w3-text-teal">農場資料庫</h1>
    <div class="input-group">
        <select class="custom-select" id="inputGroupSelect04">
            <option selected>Choose...</option>
            <option value="1">氣溫</option>
            <option value="1">濕度</option>
            <option value="1">土壤濕度</option>
            <option value="1">雨</option>
        </select>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">送出</button>
        </div>
    </div>
</div>